<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="plugin.video.favoritescenelibrary">
    <category id="general" label="General">
      <setting id="sync_on_open" type="boolean" label="Synchronize Kodi bookmarks when FSL opens" default="true"/>
    </category>
  </section>
</settings>
